@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darker text-grayish text-body flex justify-center items-center font-medium min-h-screen;
    font-family: "DM Sans", sans-serif;
    background-image: url("./assets/bg-cafe.jpg");
    background-repeat: no-repeat;
    background-size: 100% 28%;
    background-attachment: fixed;
  }

  h1,
  h2 {
    @apply text-heading text-white;
  }
}

@layer components {
  .btn {
    @apply rounded-lg py-1.5 px-3 text-label;
  }
  .btn:hover,
  .btn:focus,
  .btn.active {
    @apply bg-grayish;
  }
}
